In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'temp': pd.Series(28 + 10*np.random.randn(10)),'rain': pd.Series(100+50*np.random.randn(10)), 'location': list('AAAAABBBBB')})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   temp      10 non-null     float64
 1   rain      10 non-null     float64
 2   location  10 non-null     object
dtypes: float64(2), object(1)
memory usage: 368.0+ bytes
None

In [3]:
print(df.describe())

            temp        rain
count  10.000000   10.000000
mean   28.919659  103.931689
std    14.902219   31.541467
min    15.603374   74.646930
25%    17.423531   77.743682
50%    20.911118   94.923915
75%    39.890354  119.232146
max    52.713133  167.090968

In [4]:
print(df.describe(include=['object']))

       location
count        10
unique        2
top           A
freq          5

In [6]:
pi = pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')

In [7]:
pi.array

<PeriodArray>
['2017-09']
Length: 1, dtype: period[M]

In [9]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)

In [11]:
d

   0  1  2
0  0  0  0
1  1  1  1
2  2  2  4
3  3  3  5

In [13]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
print(len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))]))

1